*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
#是忽略根目录下的build文件 ，假如其他目录有build 不会被忽略
/build
#忽略任何目录下的build 文件
build/
/captures
.externalNativeBuild
.cxx